@use '/src/styles/constants/colors';

.gallerySection {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .header {
    margin-bottom: 30px;

    h2 {
      font-size: 24px;
      font-weight: 700;
      color: colors.$GRAY1;
      letter-spacing: 2px;
    }
  }
}
