@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/constants/sizes';

.gnb {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: levels.$GNB;
  width: 100%;
  max-width: sizes.$MAX_WIDTH;
  background-color: colors.$WHITE;
  transform: translateX(-50%);
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  a {
    font-size: 18px;
    font-weight: 700;
    color: colors.$PRIMARY;
  }
}

.navBar {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    position: relative;
    text-align: center;
  }

  a {
    display: block;
    padding: 12px;
    font-weight: 700;
    color: colors.$GRAY1;
    transition: color 0.2s ease-in-out;

    &.isActive {
      color: colors.$PRIMARY;
    }
  }

  .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: colors.$PRIMARY;
    transition: transform 0.2s ease-in-out;
  }
}
